<header>
{{!-- <header class="sheet-header"> --}}
    {{!-- <img class="profile-img" 
        src="{{actor.img}}"
        alt="{{actor.name}}"
        data-edit="img"
        data-action="showPortraitArtwork"
        title="{{actor.name}}"
        height="100" width="100"
    /> --}}


    {{!-- <div class="header-center flexcol"> --}}
    <div class="flexcol">
        <div class="document-name">
            <h2>{{actor.name}}</h2>
            <!-- TODO Form input? -->
        </div>
    </div>


</header>